*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-main-container{
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 18% auto 18%;
    grid-template-rows: auto auto auto 1fr auto;
    min-height: 100vh;  
}

.first-nav-container{
    background-color: #ff6000;
    height: 25px;
    grid-row: 1;
    grid-column: 1/ span 3;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*Sticky*/
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}
.first-nav-container button{
    border: none;
    background: none;
}
.second-nav-container{
    background-color: #ff6d00;
    height: 85px;
    grid-row: 2;
    grid-column: 1/ span 3;
    /*Sticky*/
    position: sticky;
    top: 25px;
    z-index: 999;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.third-nav-container{        
    grid-row: 3;
    grid-column: 2;    
}

.third-nav-container img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.main-section-container{
    background-color: rgb(248, 248, 248);
    grid-row: 4;
    grid-column: 2;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
}

.left-section-container{
    grid-row: 3;
    grid-column: 1;
    display: none;  
}

.right-section-container{
    grid-row: 3;
    grid-column: 3;
    display: none;
}

.footer-section-container{
    grid-row: 5;
    grid-column: 1/ span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    padding: 10px;
    color: rgb(66, 66, 66);
}

.f1 li{
    list-style: none;
}

/*----------------------Media Size------------------------*/
@media (max-width:1600px){
    .home-main-container{
        display: grid;        
        grid-template-columns: 15% auto 15%;
    }
}
@media (max-width:1100px){
    .home-main-container{
        display: grid;        
        grid-template-columns: 10% auto 10%;
    }
}
@media (max-width:900px){
    .home-main-container{
        display: grid;        
        grid-template-columns: 0% auto 0%;
    }
}
@media (max-width:450px){
    .home-main-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .first-nav-container{
        height: 38px;
        position: relative;
        z-index: 1000;
    }
    .second-nav-container{        
        position: sticky;
        z-index: 999;
    }

    .third-nav-container{
        width: 100%;
    }

    .third-nav-container img{
        width: 100%;
        margin-top: 0;
    }

    .main-section-container{
        margin: 0;
        padding: 5px;
    }
    .main-section-container p{
        color: #535353;
    }

    .product-box{
        width: 45%;
        height: auto;
        padding: 10px;
    }

    .product-box img{
        width: 100%;
        height: auto;
    }

    .product-grid{
        padding: 10px;
    }

    .products-container{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }
    .footer-section-container{        
        display: flex;
        flex-direction: column;        
        justify-content: space-evenly;
        background-color: #f5f5f5;
        padding: 10px;
        color: rgb(66, 66, 66);
    }
    .f1{
        background: #e4e4e4;
        padding: 5px;
    }
    .f2{
        background: #9c9c9c;
        padding: 5px;        
    }
    .f2 strong, p, small{
        color: rgb(236, 236, 236);
    }
}

/*Password-Wrapper Style*/
.password-wrapper{
    position: relative;
    width: 100%;
}
.password-wrapper input{
    width: 100%;
    padding-right: 50px; /*space for icon*/
}

.toggle-password{
    position: absolute;
    right: 5px;
    top: 20%;
    transform: translate(-20%);
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    color: gray;
}

/*--------------------------------------------------------*/
/*Product Grid Style*/
.product-grid{
    grid-column: 2;
    grid-row: 5;
    padding: 20px;
    border: 0.5px solid #d1d1d1;
    margin: 10px 0px;
}

.product-box{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #d1d1d1;
    gap: 10px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 140px;
    height: 230px;
}
.product-box:hover{
    box-shadow: 0px 2px 5px #d1d1d1;
}
.product-text{
    padding: 3px;
    text-align: center;
}
.product-link{
    text-decoration: none;
    color: inherit;
}